$purple: #563d7c;
$teal: #3790a0;

$theme-colors: (
  primary: $purple,
  secondary: $teal,
);

$primary: $purple;
$secondary: $teal;

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
