rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{userId} {
      allow read: if true;
      
      match /{document=**} {
        allow read, create, write, delete: if request.auth.uid == userId;
      }
    }
  }
}